In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

### Find table and column names

In [4]:
inspector = inspect(engine)

In [5]:
inspector.get_table_names()

['measurement', 'station']

In [6]:
for column in inspector.get_columns('measurement'):
    print(column['name'],column['type'])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [7]:
for column in inspector.get_columns('station'):
    print(column['name'],column['type'])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

## D1: Determine the Summary Statistics for June

In [8]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
date_str = '6'
june_query = session.query(Measurement.tobs).filter(extract('month',Measurement.date) == "06")

In [9]:
#  3. Convert the June temperatures to a list.
june_query_list = june_query.all()

In [10]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps_df = pd.DataFrame(june_query_list)
june_temps_df.rename(columns = {'tobs':'June Temps'},inplace = True)

In [11]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [12]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_query = session.query(Measurement.tobs).filter(extract('month',Measurement.date) == "12")

In [13]:
# 7. Convert the December temperatures to a list.
dec_query_list = dec_query.all()

In [14]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temps_df = pd.DataFrame(dec_query_list)
dec_temps_df.rename(columns = {'tobs':'December Temps'},inplace = True)

In [15]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temps_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## Additional Queries for More Insights

In [23]:
june_prcp_df = pd.DataFrame(session.query(Measurement.prcp).filter(extract('month',Measurement.date) == "06").all())
june_prcp_df.rename(columns = {'prcp':'June Precipitation'},inplace = True)

In [24]:
june_prcp_df.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [25]:
dec_prcp_df = pd.DataFrame(session.query(Measurement.prcp).filter(extract('month',Measurement.date)=="12").all())
dec_prcp_df.rename(columns = {'prcp':'December Precipitation'},inplace = True)

In [26]:
dec_prcp_df.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000